USE [EmlakOfisi]
GO
/****** Object:  Table [dbo].[Adverts]    Script Date: 27.05.2020 14:12:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adverts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[AdvertType] [nvarchar](30) NOT NULL,
	[AgentId] [int] NOT NULL,
	[Heating] [nvarchar](50) NULL,
	[NumberOfRooms] [nvarchar](50) NULL,
	[TotalFloor] [int] NULL,
	[PlaceFloor] [int] NULL,
	[IsInHousingEstate] [bit] NULL,
	[IsFurnished] [bit] NULL,
	[IsInUse] [bit] NULL,
 CONSTRAINT [PK_Adverts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 27.05.2020 14:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[Username] [nvarchar](50) NOT NULL,
	[CompanyName] [nvarchar](max) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agents] ON 

INSERT [dbo].[Agents] ([Username], [CompanyName], [PasswordHash], [PasswordSalt], [Id]) VALUES (N'admin', N'admin', 0xEBC359DA036DF3DA1B0A67974CE8809760B81A462B71555CF3D7624B20EBFEAD78BD548220D8A67DBE88D0417B0531D45AFD284ACFC87E5C702A284E127FE657, 0x49F6DFB07366AC9B2F948E67D971C365719FEE1525F673FE546FF8224488F6717889861C3BC28928C1EB95A636A30ABA6F4FE11607041033902B8B8985E6319B84FA7C09027B9313FEB224E45595BD6551B04E52B86A28CA2D67FE5AECBC88BC30B0972E8BFBE809A8C2E7213E5CE4B2150E73FEB0BD1AB6DC73BA0B4439B67D, 1)
INSERT [dbo].[Agents] ([Username], [CompanyName], [PasswordHash], [PasswordSalt], [Id]) VALUES (N'test1', N'test1', 0x09C80CD9795991370A7D7AD0E25A2DCADB8B023F21F57AF0CE637BEFB7C12214070553963C87636FBD9D4A349D1BF9B29E74D611FC78BF82771114EC72156028, 0x426B7D8D7E938B37BD19A5EB59E5E01C89D5FAABA50C398D9DB599C5B4B610E4EBE6B649FE6D120BDE26036FDFD952509E60071752FC5854294204F0A9523E703540B97934DA696E4650741262A0941F1ED3930A619F319666448B0519564D453ED5BCE6CF5B2751F06EF4E670F4358BB8F7F82CB90275CFB990CDAEA106DE7B, 2)
SET IDENTITY_INSERT [dbo].[Agents] OFF
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD  CONSTRAINT [FK_Adverts_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[Adverts] CHECK CONSTRAINT [FK_Adverts_Agents]
GO
